html{padding:0;margin:0;border: none;}
body,ul,p,li,a,span,em,h1,h2{padding:0;margin:0;font-family:PingFang SC,luxi sans,dejavu sans,segoe ui,hiragino sans gb,microsoft yahei,sans-serif}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.clear {
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}