
@media screen and (max-width: 1200px) {

    .header{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 999;
        height: auto;
        box-shadow: 0 0.05rem 0.15rem 0 rgba(0,0,0,.1);
        width: 100%;
        background-color: #FFF;
    }

    .header .left_box{
        width: 100%;
        height: 60px;
        float: none;
    }

    .header .logo{
        float: left;
        margin: 0px;
        width: 100%;
        height: 100%;
    }

    .header .logo img{
        height: 60px;
        margin-left:20px;
    }

    .header .logo em{
        width: 40px;
        height: 40px;
        float: right;
        margin-top: 10px;
    }

    .header .logo .open {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAABiElEQVR4Xu3asQ3CUBTF0GRbCjagZgMKtgWxQKRfRA5PhxrJfDsXFJF980oN7CkdfBMgvggEECA2EOMtQIDYQIy3AAFiAzHeAgSIDcR4CxAgNhDjLUCA2ECMt4B/C3C7Pz7xZ740/v16Ll3US2/+nVyA4/4CxPsQQIDYQIy3AAFiAzHeAqYHiM83Dr98HzDOQHwgAQSIDcR4CxAgNhDjLUCA2ECMtwABYgMx3gIEiA3EeAsQIDYQ4y1AgNhAjLcAAWIDMd4CBIgNxPjlBXg08biYpyLiK1oAAWIDMd4CBIgNxHgLECA2EONPX0B8vnH45RuxcQbiAwkgQGwgxluAALGBGG8BAsQGYrwFCBAbiPEWIEBsIMZbgACxgRhvAQLEBmK8BQgQG4jxFiBAbCDGLy/As6HHxU7/U14AAeIvDQEEuLSB+MP5DRAgNhDjLWB6gPh84/DLN2LjDMQHEkCA2ECMtwABYgMx3gIEiA3EeAsQIDYQ4y1AgNhAjLcAAWIDMd4CBIgNxPgv/LpgYch4Xn8AAAAASUVORK5CYII=) no-repeat;
        background-size: 100% 100%;
    }

    .header .logo .close {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAACEElEQVR4nO3cMW7CQBCFYSQK7sENqGhpXPgcFLuW14KUsQ3KGTjGHoWee3ADUpFEQIjXXjOzyv9J9G/eKODY1k4mAAAAAAAAAAAAAAJ476du266Ma6zZ7LM8P8ykM/WV54eZ2ewz4xrrtu3Kez+VzvRU8fYxL6r2aF1zuX5MVZ/WdreQzhZqbXcLU9Wnn7MUVXss3j7m0tke8t5Pb8v/WkJZn8vyfSmdsauyfF+asj4/mqWo2qPKvwS3bVePAqe2hGflXz9u266kc94xrrHPQqewhC7lW9dcjGusdNY7ZrPP/gqueQldy7euuZjNPpPOeyfPD7PbH61UlhBUflWf1F7Zre1u0XkQJUsIKr+sz+qv6EIHklxCSlmDpDBYChkH0Tyg5mxRaRxUY6ZRaRpYU5aX0jC4hgyiJAv49+VfSRRB+TdeWQjl/+IVxVD+H8YsiPI7GqMoyg8UszDK7ylGcZQ/0JACKT+SPkVSfmShhVL+CEKWQPkjibUEyh9g6BIoP4K+S6D8iEKXQPmRsQBBfAUJ4kdYEJehgvhHTBC3IgRxM04Qt6MF8UBGEI8kBfFQXhCvpQjixSxBvJooiJdzBfF6uiANBWjIIELT4JqyvITGgTVmGoXmQTVniyKFAVPI2EtKg6WUtRMO6xDEcTXCOLBJGEeWCePQPmEcW6kAB7cqwNHFAAAAAAAAAAAAAL59Anxvrj7MiqxpAAAAAElFTkSuQmCC) no-repeat;
        background-size: 100% 100%;
    }

    .header .logo .flag{
        display: none;
    }
    .header .nav {
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0px;
        height: auto;
        background-color: #686c7b;
        z-index: 988;
    }

    .header .nav ul{
        float: left;
    }
    #home div.open{
        display: block;
    }

    #home div.close{
        display: none;
    }
    .header .nav li span{
        display: none;
    }

    .header .nav li em{
        display: none;
    }

    .header .nav ul li{
        height: 60px;
        line-height: 60px;
        width: 100%;
        text-align: left;
    }

    .header .nav li a{
        margin-top: 0px;
        padding-top: 0px;
        height: auto;
        padding-left: 50px;
        border-bottom: 1px solid #d5d8e0;
        color: #FFF;
        display: inline-block;
        font-size: 16px;
        width: 100%;
    }

    .banner{
        clear: both;
    }


    .banner img{
        height: 418px;
    }


   .container .index_box{
       width: auto;
   }

    .index_01 .block .left_block{
        display: none;
    }

    /** start **/
    .news{
        width: 100%;
    }
    .news .news_nav{
        display: none;
    }

    .news .news_list .item{
        padding: 15px;
    }
    .news .news_list .item .img_box{
        width: 30%;
    }

    .news .news_list .content_box{
        padding: 0px 0px 0px 10px;
        border: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .news_list .content_box .btn{
        display: none;
    }

    .news_list .time_box{
        display: none;
    }

    .news .news_list img{
        width: 100%;
        height: auto;
    }

    .news .news_list .content_box{
        width: 70%;
    }

    .news_list .content_box .detail{
        height: 44px;
        overflow: hidden;
        margin-top: 4px;
    }

    .news_list .content_box .title a{
        font-size: 14px;
    }

    .news_list .content_box .date{
        display: inline-block;
    }



    .news .news_list{
        margin-top: 20px;
    }
    .news_content_box h2{
        font-size: 20px;
        padding-top:25px
    }

    .news_content_box .detail{
        font-size: 16px;
        padding: 15px;
    }

    .news_content_box .content{
        width: 100%;
        overflow: hidden;
    }

    .news_content_box .content img{
        width: 100%;
        overflow: hidden;
    }

    .news_content .news_content_box{
        width: 100%;
        padding: 0px 10px;
    }

    .layui-m-layercont video{
        width:100%;
        height: 280px
    }

    .breadcrumb{
        width: auto;
        padding-left: 10px;
    }
}

@media screen and (min-width:1200px) and (max-width:1526px) {
    .header .left_box{
        width: 210px;
    }

    .header .logo img{
        width: 100%;
    }
}
