.news_banner{
    width: 100%;
    clear: both;
}
.news_banner img{
    width: 100%;
    height: 100%;
}
.news{
    width: 1280px;
    margin: 0 auto;
}

.news .news_nav{
    text-align: center;
    margin-top: 60px;
}

.news .news_nav h2{
    font-size: 32px;
    color: #555;
}

.news .news_nav p{
    font-size: 16px;
    color: #999;
    margin-top: 10px;
}


.news .news_list{
    margin-top: 40px;
}
.news .news_list .item{
    display: flex;
    padding: 40px 0px;
}

.news .news_list img{
    width: 400px;
    height: 220px;
}

.news .news_list .content_box{
    flex: 1;
    padding: 0px 120px 0px 30px;
    border-right: 1px solid #eee;
}

.news_list .content_box .title a{
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.news_list .content_box .title a:hover{
    color: #518dfd;
}
.news_list .content_box .date{
    display: none;
    text-align: right;
    color: #333;
    font-size: 14px;
}

.news_list .content_box .detail{
    color: #666;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
}
.news_list .content_box .btn{
    background-color: #409eff;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    width: 160px;
    height: 48px;
    margin-top: 48px;
    border-radius: 4px;
    display: inline-block;
    line-height: 48px;
}

.news_list .time_box{
    padding-left: 80px;
}
.news_list .time_box .day{
    font-size: 70px;
    font-weight: 700;
    color: #555;
}

.news_list .time_box .date{
    color: #888;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
.page{
    justify-content: center;
    margin: 40px 0px;
}

.pagination{
    display: table;
    margin: 0 auto;
}

.pagination .page-item{
    min-width: 30px;
    border-radius: 2px;
    cursor: default;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    background-color: #f4f4f5;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;
}
.pagination .page-item a{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #606266;
}

.pagination .active{
    background-color: #409eff;
    color: #FFF;
}

.pagination .disabled{
    color: #c0c4cc;
    background-color: #f4f4f5;
}

.news_content{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.news_content .news_content_box{
    width: 1000px;
}

.news_content_box h2{
    color: #555;
    font-size: 32px;
    text-align: center;
    padding-top: 60px;
}

.news_content_box .date{
    color: #999;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.news_content_box .detail{
    margin: 30px 0;
    padding: 30px;
    border: 1px dashed #ddd;
    font-size: 18px;
    line-height: 36px;
    text-indent: 25px;
}

.news_content_box .content img{
    max-width: 100%;
}

.right_pendant{
    display: none;
}

.breadcrumb{
    width: 1000px;
    margin: 10px auto;
    text-align: left;
}
.breadcrumb a{
    font-size: 14px;
    color: #333;
}
